[Desktop Entry]
Version=1.0
Type=Application
Name=GOTT Compressor MidSide
GenericName=Compressor
Comment=Performs Good Over-The-Top multiband compression of stereo channel split into Mid/Side parts
Exec=lsp-plugins-gott-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
