[Desktop Entry]
Version=1.0
Type=Application
Name=GOTT Compressor Stereo
GenericName=Compressor
Comment=Performs Good Over-The-Top multiband compression of stereo channel
Exec=lsp-plugins-gott-compressor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
Categories=X-LSP-Plugins;
NotShowIn=GNOME;
